.LocationForm {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.LocationFormSecondaryClass {
    /* height: 100%; */
    justify-content: center
}